@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
  text-align: center;
}

body {
  font-family: Raleway;
}

button {
  font-family: Raleway;
  font-size: 200%;
}

p {
  font-size: 150%;
}